{% extends "padre.html" %}
{% load static %}

{% block head %}
    <title>Inserting product</title>
{% endblock %}

{% block main %}
<div class="container p-4 mx-auto">
  <form action="{% url 'insertarProducto' %}" class="w-full max-w-md mx-auto bg-yellow-100 shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.nombre.id_for_label }}">
        Product Name
      </label>
      {{ form.nombre }}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.precio.id_for_label }}">
        Price
      </label>
      {{ form.precio }}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.descripcion.id_for_label }}">
        Description
      </label>
      {{ form.descripcion }}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.categoria.id_for_label }}">
        Category
      </label>
      <select name="{{ form.categoria.name }}" class="block w-full py-2 px-3 border border-gray-300 bg-white rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4">
        {% for value, label in form.categoria.field.choices %}
          <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.nueva_categoria.id_for_label }}">
        New Category
      </label>
      {{ form.nueva_categoria }}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.imagen.id_for_label }}">
        Image
      </label>
      {{ form.imagen }}
    </div>
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Save</button>
  </form>

  {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
