{% extends "padre.html" %}
{% load static %}

{% block head %}
    <title>
        Página principal
    </title>
{% endblock %}

{% block main %}
    <div class="container text-center"><!--No pongo bloque aquí aunque use container en el resto, pues si no lo veo en los otros .html me lío-->
        <div class="row">
            {% for product in lista %}
                <div class="alert col-md-4">
                    <div class="card mb-3 h-100">
                        <div class="text-center">
                            <img class="card-img-top" style="height: 400px; width: 300px;" src="{% static product.imágen  %}" />
                        </div>
                        <div class="card-body">
                            <h3 class="card-text">{{ product.categoría }}</h3><!--HACER MEDIANTE URL, NO PETICIÓN GET-->
                        </div>
                        <div class="card-footer">
                            <a href="/etienda/buscarCategoria/{{ product.categoría }}" class="btn btn-success">View items</a><!--Que haga petición enviando la categoría requerida, enlace tipo /etienda/buscar-categoria/<categoria> -->
                        </div>                   
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
        </div>
        <div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}